// Custom global styles
// styled-components is used for component-level styles

// Theme variables
$break-small: 376px;
$break-mid: 540px;
$primary-color: #ffcc35;
$secondary-color: #41a9ff;
$light-color: #f7f7f7;
$dark-color: #1e1c21;

// hamburger navbar workaround
// can't select these classes somehow using styled-component
.collapsing,
.show {
  margin-top: 3rem;
}

body {
  footer {
    padding: 60px 0 45px;

    .logo {
      img {
        height: 47px;
      }
    }

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .about {
      margin-top: 26px;
      font-size: 14px;
    }

    .links {
      text-align: center;

      h4 {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: Inter;
      }

      ul {
        margin: 15px 0 0 0;
        list-style-type: none;
        padding: 0;

        li {
          line-height: 26px;

          a {
            font-size: 14px;
            color: #797283;

            &:hover,
            &:active {
              color: $secondary-color;
            }
          }
        }
      }

      .links__special {
        background-color: $secondary-color;
        color: $light-color;
        border-radius: 4px;
        padding: 2px 5px;

        &:hover {
          color: $light-color;
        }
      }
    }

    .social {
      text-align: right;

      @media screen and (max-width: $break-small) {
        text-align: center;
      }

      a {
        font-size: 30px;
        margin-left: 20px;
        color: $dark-color;

        &:hover span {
          filter: contrast(1);
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}

/* About Page */

.page-about {
  text-align: center;
  padding: 65px 20px;

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  img {
    width: 100%;
    margin: 2rem 0;
  }

  @media screen and (min-width: $break-mid) {
    .blake-img {
      width: 50%;
    }
  }
}
