// Overrides to bootstrap variables

// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// When updating variables, make sure to update styled-component theme in layout.js too
$primary: #ffcc35;

$theme-colors: (
  "primary": $primary,
  "secondary": #0419c1,
  "light": #f7f7f7,
  "dark": #1e1c21,
);

$container-max-widths: (
  sm: 740px,
  md: 920px,
  lg: 1100px,
  xl: 1516px,
);

$enable-shadows: true;
$enable-responsive-font-sizes: true;

$font-family-base: "Inter", sans-serif;
$headings-font-family: "Playfair Display", serif;
$body-bg: map-get($theme-colors, "light");

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// override react-awesome-slider variables
@import "../../node_modules/react-awesome-slider/src/core/constants.scss";

.#{$root-element} {
  --slider-height-percentage: 55%;
  --slider-transition-duration: 300ms;
  --organic-arrow-thickness: 6px;
  --organic-arrow-border-radius: 30px;
  --organic-arrow-height: 25px;
  --organic-arrow-color: #6a6a6a;
  --control-button-background: transparent;
  --control-button-width: 15%;
  --loader-bar-color: #ffcc34;
  --loader-bar-height: 3px;
}
