// Custom global styles
// styled-components is used for component-level styles

.jumbotron {
  border-radius: 0;
}

.highlight {
  background-image: linear-gradient(
    map-get($theme-colors, "primary"),
    map-get($theme-colors, "primary")
  );
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 88%;
}
