// Overrides to bootstrap variables

// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// When updating variables, make sure to update styled-component theme in layout.js too
$theme-colors: (
  "primary": #ffcc35,
  "secondary": #41a9ff,
  "light": #f7f7f7,
  "dark": #1e1c21,
);

$enable-shadows: true;
$enable-responsive-font-sizes: true;

$font-family-base: "Inter";
$headings-font-family: "Playfair Display";
$body-bg: map-get($theme-colors, "light");

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
